input[type='number']{
    width: 60px;
}

table, th,td {
    outline: none;
    border-color: black;
    border-spacing: 0;
    font-size: 13px;
}
#search {
    width: 70px;
    height: 30px;
    padding: 0;
    font: inherit;
    background-color: #f44336;
    transition-property: background-color;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    border: 0px;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#search:hover{
    background-color: #b64136;

}
#search:active{
    transform: translateY(1px);
}

.scleft {
    font-size: 15px;
    border-right: 1px solid #9F9F9F;
    border-top: 0;
    border-bottom: 0;
    vertical-align: text-top;
    text-align: center;
    height: 25px;
    width: 20px;
}

.scitem {
    border: 1px solid #9F9F9F;
    border-top: 0;
    border-bottom: 0;
    background: #CCCCCC;
    height: 25px;
    width: 80px;
}

.row::selection {
    background-color: #CCCCCC;
}

.row:hover {
    background-color: #CDCDCD;
}

.row {
    background-color: #DDDDDD;
    height: 50px;
    text-align: center;
}

body {
    overflow: hidden;
    margin: 15px;
    margin-top: 0px;
    border-radius: 15px;
    font-family: Sans-Serif;
    line-height: 1.5em;
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* top: 0; */
    margin-top: 0;
    padding-top: 0px;
    border-spacing: 0;
}

#optionPanel {
    position: absolute;
    height: 400px;
    width: 800px;
    background: #e1ead0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius:20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#optionPanel .left{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;

}
#optionPanel .right{
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;

}

#evalRatio{
    border-radius: 5px;
    overflow: visible;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 40px;
    background: white;
}

.ratioBar{
    font-size: 12px;
    font-weight: bold;
    overflow: visible;
    display: inline-block;
    height: 40px;
    white-space: nowrap;
}

.ratioBar .tooltipcont{
    overflow: visible;
    display: inline-block;
    position: relative;
    background: transparent;
    z-index: 20;

}

.ratioBar .tooltipcont .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 20;
    max-height: 20px;
    white-space: nowrap;
    width: auto;
    transform: translate(-40%, -180%);
}


.ratioBar .tooltipcont .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 20;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.ratioBar:hover .tooltipcont .tooltiptext {
    visibility: visible;
}

#optionClose{
    position: absolute;
    left:400px;
    top:400px;
    transform: translate(-40%, -100%);
}

#header {
    margin: 10px;
    border-radius: 30px;
    background: #B8C395;
    height: 170px;
    transition-property: margin-top;
    transition-duration: 0.5s;
    margin-top:5px;
    z-index: 3;
    top: 0px;
}


#headerTitle{
    padding-bottom : 15px;
    font-weight: bolder;
    font-size: 42px;
    font-family: Gadugi, sans-serif;
    color: #E60000;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
}

#hide{
    transition-property: transform;
    transition-duration: 0.5s;
    position: absolute;
    text-align: center;
    color: white;
    cursor:default;
    font-size: 23px;
    padding-top: 20px;
    background: #B8C395;
    border-radius: 15px;
    z-index: 2;
    width: 80px;
    top: 150px;
    left: 50%;
    transform: translate(-50%,0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#mainwrapper {
    z-index: 1;
    overflow: hidden;
}

#contentwrapper {
    float: left;
    width: 100%;
}

#content {
    background: #DDDDDD;
    margin-left: 20px;
    margin-right: 600px;
    overflow: scroll;
    height: 100%;
}

#rightmenu {
    float: left;
    width: 550px;
    height: 100%;
    overflow-y: scroll;
    margin-left: -580px;
    margin-right: 30px;
    background: #DAE9BC;
}

.lists {
    z-index: 1;
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.innertube {
    margin: 10px;
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}
