table, th,td {
    outline: none;
    border-color: black;
    border-spacing: 0;
    font-size: 13px;
}

.scleft {    
    font-size: 15px;
    border-right: 1px solid #9F9F9F;
    border-top: 0;
    border-bottom: 0;
    vertical-align: text-top;
    text-align: center;
    height: 30px;
    width: 20px;
}

.scitem {
    border: 1px solid #9F9F9F;
    border-top: 0;
    border-bottom: 0;
    background: #CCCCCC;
    height: 30px;
    width: 80px;
}

.row::selection {
    background-color: #CCCCCC;
}

.row:hover {
    background-color: #CDCDCD;
}

.row {
    background-color: #DDDDDD;
    height: 50px;
    text-align: center;
}

body {
    overflow: hidden;
    margin: 15px;
    border-radius: 15px;
    font-family: Sans-Serif;
    line-height: 1.5em;
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    margin: 10px;
    border-radius: 30px;
    background: #BCCE98;
    height: 200px;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
}

#mainwrapper {
    overflow: hidden;
}

#contentwrapper {
    float: left;
    width: 100%;
}

#content {
    background: #DDDDDD;
    margin-left: 20px;
    margin-right: 600px;
    overflow: scroll;
    height: 100%;
}

#rightmenu {
    float: left;
    width: 550px;
    height: 100%;
    overflow-y: scroll;
    margin-left: -580px;
    margin-right: 30px;
    background: #DAE9BC;
}

.lists {
    margin-top: 10px;
    height: 15%;
    text-align: center;
}

.innertube {
    margin: 15px;
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}
