<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의계획서</title>

</head>
<body>
    <h1>수업시간표 및 강의계획서 조회</h1>
    <!--검색 조건-->
    <h3>개설연도</h3>
    <input type="text" id="year">
    <h3>개설학기</h3>
        <!--학기-->
    <select id="semester">
        <option>1학기</option>
        <option>계절학기(하계)</option>
        <option>2학기</option>
        <option>계절학기(동계)</option>
    </select>
            <!--과목-->
    <select name="Univ" id="Subject" onchange="setCollage(this)">
        <option value="NULL">선택</option>
        <option value="UN">대학</option>
        <option value="GE">교양</option>
    </select>
           <!--단과대학-->
    <select name="Univ-collage"id="Collage" onchange="setMajor(this)">
        <option>선택</option>
    </select>
            <!--전공-->
    <select name="Univ-major"id="Major">
        <option>선택</option>
    </select>
        <!--전송-->
    <button type="submit" id="submit">조회</button>
        <!--자바스크립트-->
    <script src="{{ url_for('static', filename='JS/Schedule.js') }}"></script>

</body>
</html>